.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  max-width: 600px;
  text-align: center;
}

.cards {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

@media (min-width: 720px) {
  .App {
    flex-direction: row;
  }

  .cards {
    margin-top: 0;
    margin-bottom: 0;
  }

  .card {
    margin: 0 30px;
  }
}

.card {
  padding: 20px;

  overflow-x: hidden;
  width: 100px;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.card:not(:last-child) {
  margin-right: 10px;
}

